<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}} <span class="user-info">{{user.username}} on {{format_date
                created_at}}</span></a>
    </div>
    <div class="comments">
        <a href="/post/{{id}}">{{description}}</a>
    </div>
</article>